<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Prevent directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Set proper MIME types -->
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
            <mimeMap fileExtension=".game" mimeType="text/html" />
        </staticContent>
        
        <!-- Custom headers to bypass filters -->
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-Frame-Options" value="ALLOWALL" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range" />
                <add name="Cache-Control" value="private, no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
                <remove name="X-Powered-By" />
                <remove name="Server" />
            </customHeaders>
        </httpProtocol>
        
        <!-- URL Rewrite rules to bypass filters -->
        <rewrite>
            <rules>
                <!-- Serve .game files as HTML -->
                <rule name="Game Files" stopProcessing="true">
                    <match url=".*\.game$" />
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>
                
                <!-- Alternate access paths -->
                <rule name="Bypass Path" stopProcessing="true">
                    <match url="^blocked/(.*)" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^bypass=true$" />
                    </conditions>
                    <action type="Rewrite" url="games/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 